/* ESTILOS GENERALES */

body {
    display: flex;
    flex-wrap: wrap;
}


main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    min-height: 100%;

    /* Estilos */
    background-color: hsl(233, 33%, 10%);

    /* PARA PROBAR */


}

/* HEADER Y BARRA DE NAVEGACION PRINCIPAL */

header {
    display: flex;
    flex-direction: column;
    flex: 0 0 50px;

    /* ESTILOS */
    color: hsl(204, 22%, 95%);

    /* PARA PROBAR */

}

#menu {
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;

    /* ESTILOS */
    background-color:hsl(0, 0%, 0%);

}

.nav-boton {
    background-color: transparent;
    border: none;

    color: hsl(204, 22%, 95%);
}

.nav-boton > button:hover {
    background-color: hsl(215, 20%, 16%);
    border-radius: 10%;
}

.nav-hr {
    min-width: 30px;
    border: 1px solid hsl(204, 22%, 95%);
}

.opciones-perfil {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    
    gap: 8px;
    justify-content: end;
    flex-grow: 1;
}

.nav-boton > .material-icons {
    font-size: 2.2em;
}


/* BARRA DE NAVEGACION SECUNDARIA - FILTROS DE NAVEGACION */

#navegacion-secundaria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 2px;
    width: 100%;
    max-height: 65px;

    /* PARA PROBAR */

    border: solid hsl(233, 21%, 16%) 1px;
}

#navegacion-secundaria > button {
    background-color: transparent;
    border: none;

    font-size: 2em;
    color: hsl(204, 15%, 60%);
}

#navegacion-secundaria > button:nth-child(3) {
    background-color: hsl(215, 20%, 16%);
    border: hsl(73, 66%, 64%) solid 1px;
}


/* ESTILO CONTENEDORES INDIVIDUALES GRAFICOS */

.contenedor-individual {
    display: flex;
    flex-direction: column;
    flex: 1;

    /* Estilos */
    font-family: 'Archivo', sans-serif;
    font-size: 0.9em;
    color:hsl(204, 15%, 60%);
    border: solid hsl(233, 21%, 16%) 1px;


    /* PARA PROBAR */

    min-width: 30%;
}

.encabezado-contenedor-individual {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 2px 5px;
}

.titulo-categoria {
    color: hsl(204, 15%, 98%);
    font-size: 1.5em;
    flex-grow: 1;
}

.encabezado-contenedor-individual > button {
    background-color: transparent;
    border: none;
}

.encabezado-contenedor-individual > button > span {
    font-size: 1.5em;
    color: hsl(204, 15%, 60%);
}

.encabezado-contenedor-individual > button > span:hover {
    color: hsl(204, 15%, 98%);
}

.detalle {
    padding: 0px 10px 10px;
}



/* FOOTER */

footer {
    width: 100%;
    padding: 3px 1px 1px;
    max-height: fit-content;
    border: solid hsl(233, 21%, 16%) 1px;
    background-color: hsl(233, 33%, 10%);

    color: hsl(204, 15%, 50%);
    font-size: 0.8em;
    
    /* PARA PROBAR */
}

footer>p {
    text-align: center;
    line-height: 3px;
}



/* GRAFICOS  */


/* SALUD */
#tabla-salud {
    width: 100%;
}

#tabla-salud td, th{
    border-bottom: 2px solid white;
}


/* TAREAS */
.etiquetas-tareas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 0.9em;
}

div.circulo-tareas {
    position: relative;
    top: 14px;
    left: 9px;
    height: 12px;
    width: 12px;
    border-radius: 12rem;

    background-color: yellow;
}

div.tareas-no-empezadas {
    background-color: hsl(213, 10%, 64%);
}

div.tareas-en-progreso {
    background-color: hsl(176, 55%, 55%);
}

div.tareas-completadas{
    background-color: hsl(119, 52%, 60%);
}


.grafico {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.grafico > span {
    position: absolute;
    font-weight: 600;
    
}

.grafico > span:nth-child(1) {
    position: absolute;
    top: 143px;
    left: 236px;

    color: hsl(213, 10%, 64%);
}

.grafico > span:nth-child(2) {
    position: absolute;
    top: 5px;
    left: 251px;

    color: hsl(176, 55%, 55%);
}

.grafico > span:nth-child(3) {
    position: absolute;
    top: 60px;
    left: 98px;

    color: hsl(119, 52%, 60%);
}


.circulo-exterior {
    display: flex;
    flex-direction: row;
    align-items: center;

    position:relative;
    border-radius: 12rem;
    background-color: hsl(119, 52%, 60%);
    width: 150px;
    height: 150px;
}

.circulo-interior {
    position: absolute;
    top: 20px;
    right: 20px;

    border-radius: 12rem;
    background-color: hsl(233, 33%, 10%);
    width: 110px;
    height: 110px;
}

.semi-circulo-1 {
    position: absolute;
    top: -0.5px;
    right: -1px;
    height: 150px;
    width: 75px;
    
    border-radius: 12rem 0% 0% 12rem;
    border: solid 2px hsl(233, 33%, 10%);

    background-color: hsl(176, 55%, 55%);
    rotate: 180deg;
}

.semi-circulo-2 {
    position: absolute;
    height: 150px;
    width: 75px;
    left: 13px;
    top: 30px;

    border-radius: 12rem 0% 0% 12rem;
    border: solid 2px hsl(233, 33%, 10%);
    background-color: hsl(213, 10%, 64%);

    rotate: 306deg;
}

.semi-circulo-3 {
    position: absolute;
    top: -0.5px;
    left: -2px;
    height: 150px;
    width: 75px;
  
    border-radius: 12rem 0% 0% 12rem;
    border: solid 2px hsl(233, 33%, 10%);
    
    background-color: hsl(119, 52%, 60%);
    rotate: 0deg;
}


/* PROGRESO */
.detalle_progreso{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.label_progreso{
    width: 40%;
}

/* 
progress {
    opacity: 0;
} */

.barra-progreso {
    border: none;
    width: 60%;

    accent-color: coral;
    background-color: hsl(119, 51%, 60%);
}

#contratos{
    background-color: hsl(119, 51%, 60%);
    accent-color: coral;
}

#diseño{
    background-color: hsl(119, 51%, 60%);
}

#adquisiciones{
    background-color: hsl(329, 69%, 62%);
}