/* ESTILOS GENERALES */

/* html {
    height: 100%;
} */

body {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    min-height: 100vh;
    position: absolute;

    /* Estilos */
    margin: 0;
    padding: 0;
    color: hsl(204, 22%, 95%);
}


main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width:95%;
    height: 100%; 

    /* Estilos */
    background-color: hsl(233, 33%, 10%);

    /* PARA PROBAR */


}


header {


    display: flex;
    flex-direction: column;

    /* ESTILOS */
    background-color: hsl(0, 0%, 0%);
    color: hsl(204, 22%, 95%);

    /* PARA PROBAR */
    width: 5%;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

#menu > button {
    background-color: transparent;
    border: none;

    color: hsl(204, 22%, 95%);
}

#menu > button:hover {
    background-color: hsl(215, 20%, 16%);
    border-radius: 10%;
}


#navegacion-secundaria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 2px;
    width: 100%;
    height:fit-content;

    /* PARA PROBAR */

    border: solid hsl(233, 21%, 16%) 1px;
}

#navegacion-secundaria > button {
    background-color: transparent;
    border: none;

    font-size: 2em;
    color: hsl(204, 15%, 60%);
}

#navegacion-secundaria > button:nth-child(3) {
    background-color: hsl(215, 20%, 16%);
    border: hsl(73, 66%, 64%) solid 1px;
}


/* ESTILO CONTENEDORES INDIVIDUALES GRAFICOS */

.contenedor-individual {
    display: flex;
    flex-direction: column;
    height:50%;

    /* Estilos */
    font-family: 'Archivo', sans-serif;
    font-size: 0.9em;
    color:hsl(204, 15%, 60%);
    border: solid hsl(233, 21%, 16%) 1px;


    /* PARA PROBAR */

    width: 33%;
}

.encabezado-contenedor-individual {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 2px 5px;
}

.titulo-categoria {
    color: hsl(204, 15%, 98%);
    font-size: 1.5em;
    margin-right: auto;
}

.encabezado-contenedor-individual > button {
    background-color: transparent;
    border: none;
}

.encabezado-contenedor-individual > button > span {
    font-size: 1.5em;
    color: hsl(204, 15%, 60%);
}

.encabezado-contenedor-individual > button > span:hover {
    color: hsl(204, 15%, 98%);
}

.detalle {
    padding: 0px 10px 10px;
}



/* FOOTER */

footer {
    width: 100%;
    padding: 1px;
    position: fixed;
    left: 0;
    bottom: 0;
    

    /* PARA PROBAR */
    background-color: aquamarine;
}



/* GRAFICOS  */


/* SALUD */
#tabla-salud {
    width: 100%;
}

#tabla-salud td, th{
    border-bottom: 2px solid white;
}


/* TAREAS */
.etiquetas-tareas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;

    font-size: 0.9em;
}

.grafico {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.grafico > span {
    position: absolute;
    font-weight: 600;
    
}

.grafico > span:nth-child(1) {
    position: absolute;
    top: 141px;
    left: 225px;

    color: hsl(213, 10%, 64%);
}

.grafico > span:nth-child(2) {
    position: absolute;
    top: 5px;
    left: 240px;

    color: hsl(176, 55%, 55%);
}

.grafico > span:nth-child(3) {
    position: absolute;
    top: 60px;
    left: 69px;

    color: hsl(119, 52%, 60%);
}


.circulo-exterior {
    display: flex;
    flex-direction: row;
    align-items: center;

    position:relative;
    border-radius: 12rem;
    background-color: hsl(119, 52%, 60%);
    width: 150px;
    height: 150px;
}

.circulo-interior {
    position: absolute;
    top: 20px;
    right: 20px;

    border-radius: 12rem;
    background-color: hsl(233, 33%, 10%);
    width: 110px;
    height: 110px;
}

.semi-circulo-1 {
    position: absolute;
    top: -0.5px;
    right: -1px;
    height: 150px;
    width: 75px;
    
    border-radius: 12rem 0% 0% 12rem;
    border: solid 2px hsl(233, 33%, 10%);

    background-color: hsl(176, 55%, 55%);
    rotate: 180deg;
}

.semi-circulo-2 {
    position: absolute;
    height: 150px;
    width: 75px;
    left: 13px;
    top: 30px;

    border-radius: 12rem 0% 0% 12rem;
    border: solid 2px hsl(233, 33%, 10%);
    background-color: hsl(213, 10%, 64%);

    rotate: 306deg;
}

.semi-circulo-3 {
    position: absolute;
    top: -0.5px;
    left: -2px;
    height: 150px;
    width: 75px;
  
    border-radius: 12rem 0% 0% 12rem;
    border: solid 2px hsl(233, 33%, 10%);
    
    background-color: hsl(119, 52%, 60%);
    rotate: 0deg;
}


/* PROGRESO */
.detalle_progreso{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.label_progreso{
    width: 40%;
}

/* 
progress {
    opacity: 0;
} */

.barra-progreso {
    border: none;
    width: 60%;

    accent-color: coral;
    background-color: hsl(119, 51%, 60%);
}

#contratos{
    background-color: hsl(119, 51%, 60%);
    accent-color: coral;
}

#diseño{
    background-color: hsl(119, 51%, 60%);
}

#adquisiciones{
    background-color: hsl(329, 69%, 62%);
}