/* ESTILOS GENERALES */

body {
    display: flex;
    flex-wrap: wrap;
}


main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    min-height: 100%;

    /* Estilos */
    background-color: hsl(233, 33%, 10%);



}

/* HEADER Y BARRA DE NAVEGACION PRINCIPAL */

header {
    display: flex;
    flex-direction: column;
    flex: 0 0 55px;
    padding-top: 10px;

    /* ESTILOS */
    color: hsl(204, 22%, 95%);
    background-color:hsl(0, 0%, 0%);


}

#menu {
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50px;
    left: 0px;

    /* ESTILOS */
    background-color:hsl(0, 0%, 0%);

}

#logo>img {
    width: 45px;
    margin: 5px;
}

.nav-boton {
    background-color: transparent;
    border: none;

    color: hsl(204, 22%, 95%);
}

.nav-boton:hover {
    background-color: hsl(215, 20%, 16%);
    border-radius: 10%;
}

#boton-menu {
    display: none;
    visibility: hidden;
}

.nav-hr {
    min-width: 30px;
    border: 1px solid hsl(204, 22%, 95%);
}

.opciones-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    justify-content: end;
    flex-grow: 1;

    padding-bottom: 20px;
    
}

.nav-boton > .material-icons {
    font-size: 2.2em;
}


/* BARRA DE NAVEGACION SECUNDARIA - FILTROS DE NAVEGACION */

#navegacion-secundaria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 2px;
    width: 100%;
    max-height: 65px;
}

#navegacion-secundaria > button {
    background-color: transparent;
    border: none;

    font-size: 2em;
    color: hsl(204, 15%, 60%);
}

#navegacion-secundaria > button:nth-child(3) {
    background-color: hsl(215, 20%, 16%);
    border: hsl(73, 66%, 64%) solid 1px;
}

#boton-nav-personalizar {
    display: none;
    visibility: hidden;
}

/* ESTILO CONTENEDORES INDIVIDUALES GRAFICOS */

.contenedor-individual {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 30%;

    /* Estilos */
    font-size: 0.9em;
    color:hsl(204, 15%, 60%);
    border: solid hsl(233, 21%, 16%) 1px;
}

.encabezado-contenedor-individual {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 2px 5px;
}

.titulo-categoria {
    color: hsl(204, 15%, 98%);
    font-size: 1.5em;
    flex-grow: 1;
}

.encabezado-contenedor-individual > button {
    background-color: transparent;
    border: none;
}

.encabezado-contenedor-individual > button > span {
    font-size: 1.5em;
    color: hsl(204, 15%, 60%);
}

.encabezado-contenedor-individual > button > span:hover {
    color: hsl(204, 15%, 98%);
}

.detalle {
    padding: 0px 10px 10px;
    font-family:'Quicksand', sans-serif;
    font-size: 0.9em;
}



/* FOOTER */

footer {
    width: 100%;
    padding: 3px 1px 1px;
    max-height: fit-content;
    border: solid hsl(233, 21%, 16%) 1px;
    background-color: hsl(233, 33%, 10%);

    color: hsl(204, 15%, 50%);
    font-size: 0.8em;
    
    /* PARA PROBAR */
}

footer>p {
    text-align: center;
    line-height: 3px;
}



/* GRAFICOS  */


/* SALUD */
#tabla-salud {
    width: 100%;
    text-align: left;
}

#tabla-salud td, th{
    border-bottom: 1px solid hsl(0, 0%, 100%);
    line-height: 25px;
}

#tabla-salud th {
    color: hsl(0, 0%, 100%);
    font-weight: 300;
}


/* TAREAS */
.etiquetas-tareas {
    position: relative;
    bottom: 15px;

    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 1%;
    padding: 5px;
}

.etiquetas-tareas > p {
    margin-right: 5%;
    text-align: center;
}

div.circulo-etiqueta {
    height: 12px;
    width: 12px;
    border-radius: 12rem;
}

div.tareas-no-empezadas {
    background-color: hsl(213, 10%, 64%);
}

div.tareas-en-progreso {
    background-color: hsl(176, 55%, 55%);
}

div.tareas-completadas{
    background-color: hsl(119, 52%, 60%);
}


.grafico {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.grafico > span {
    position: absolute;
    font-weight: 600;
    
}

.grafico > span:nth-child(1) {
    position: absolute;
    top: 95%;
    left: 65%;

    color: hsl(213, 10%, 64%);
}

.grafico > span:nth-child(2) {
    position: absolute;
    top: 3%;
    left: 70%;

    color: hsl(176, 55%, 55%);
}

.grafico > span:nth-child(3) {
    position: absolute;
    top: 20%;
    left: 23%;

    color: hsl(119, 52%, 60%);
}

.circulo-exterior {
    display: flex;
    flex-direction: row;
    align-items: center;

    position:relative;
    border-radius: 12rem;
    background-color: hsl(119, 52%, 60%);
    width: 150px;
    height: 150px;
}

.circulo-interior {
    position: absolute;
    top: 20px;
    right: 20px;

    border-radius: 12rem;
    background-color: hsl(233, 33%, 10%);
    width: 110px;
    height: 110px;
}

.semi-circulo-1 {
    position: absolute;
    top: -0.5px;
    right: -1px;
    height: 150px;
    width: 75px;
    
    border-radius: 12rem 0% 0% 12rem;
    border: solid 2px hsl(233, 33%, 10%);

    background-color: hsl(176, 55%, 55%);
    rotate: 180deg;
}

.semi-circulo-2 {
    position: absolute;
    height: 150px;
    width: 75px;
    left: 13px;
    top: 30px;

    border-radius: 12rem 0% 0% 12rem;
    border: solid 2px hsl(233, 33%, 10%);
    background-color: hsl(213, 10%, 64%);

    rotate: 306deg;
}

.semi-circulo-3 {
    position: absolute;
    top: -0.5px;
    left: -2px;
    height: 150px;
    width: 75px;
  
    border-radius: 12rem 0% 0% 12rem;
    border: solid 2px hsl(233, 33%, 10%);
    
    background-color: hsl(119, 52%, 60%);
    rotate: 0deg;
}


/* PROGRESO */

.grafico-progreso {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5px;
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-flow: row wrap;
    row-gap: 16px;
}

.label_progreso{
    width: 30%;
}

.barra-progreso {
    display: flex;
    gap: 8px;
    background-color: hsl(233, 33%, 10%);
    min-width: 60%;
    height: 20px;
    flex: 1;
}

.barra-progreso > span {
    color: hsl(213, 10%, 64%);
    width: 45px;
    text-align: end;
}

.progresos-contratos{
    height: 75%;
    flex: 1;
}

.progresos-contratos>div{
    width:  100%;
    height: 100%;
    background-color: hsl(119, 52%, 60%);
}

#progreso-contratos { 
    color: hsl(119, 52%, 60%);
}

.progresos-diseño{
    flex: 1;
    height: 75%;
}

.progresos-diseño>div{
    width:  80%;
    height: 100%;
    background-color: hsl(119, 52%, 60%);
}

#progreso-diseño {
    color: hsl(119, 52%, 60%);
}

.progresos-adquisiciones{
    flex: 1;
    height: 75%;
}

.progresos-adquisiciones>div{
    width:  19%;
    height: 100%;
    background-color: hsl(329, 69%, 62%);
}

#progreso-adquisiciones {
    color: hsl(329, 69%, 62%);
}

.progresos-construccion{
    flex: 1;
    height: 75%;
}

.progresos-construccion > div{
    width:  0.1%;
    height: 100%;
    background-color: hsl(0, 0%, 61%);
}

.progresos-post-construccion{
    flex: 1;
    height: 75%;
}

.progresos-post-construccion > div{
    width:  0.1%;
    height: 100%;
    background-color: hsl(0, 0%, 61%);
}

.progresos-fin-proyecto{
    flex: 1;
    height: 75%;
}

.progresos-fin-proyecto>div{
    width:  0.1%;
    height: 75%;
    background-color: hsl(0, 0%, 61%);
}



/*ACTIVIDAD*/
div.etiqueta-adelantado {

    background-color: hsl(207, 82%, 56%);
}

div.etiqueta-atrasado {

    background-color: hsl(34, 74%, 57%);
}

div.etiqueta-al-dia {

    background-color: hsl(119, 52%, 60%);
}

.contenedor-grafico{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    row-gap: 10px;
}

.label-actividad {
    display: flex;
    flex-direction: column;
    width: 26%;
    height: 150px;
    gap: 12%;
}

.label-actividad > span{
    height: 20%;
}

.valores-actividad{
    display: flex;
    width: 78%;
    gap: 4.5px;

}

.valores-actividad > span{
    width: 10%;
    text-align: center;
}

.lineas-actividad{
    display: flex;
    flex-grow: 1;
    gap: 11%;
}

.lineas-actividad > div{
    
    position: relative;
    border-right: 1px white solid;
    border-left: 1px white solid;
    height: 100%;
    
}



.barra-actividad{
    position: absolute;
    display: flex;
    width: 68%;
    left: 26%;
    height: 69%;
    flex-wrap: wrap;
    align-content: space-between;
}

.barra-progreso-actividad{
    display: flex;
    position: relative;
    left: 50%;
    width: 51%;
    height: 24%;
}

.barra-progreso-actividad:nth-child(1){
     

}

.barra-progreso-actividad:nth-child(2){
    left: 0%;
    flex-direction: row-reverse;  
    
}

.barra-progreso-actividad:nth-child(3){
  

}



.barra-adelantado{
    background-color: hsl(207, 82%, 56%);

}

.barra-atrasado{
    background-color: hsl(34, 74%, 57%);

}

.barra-al-dia{
    background-color: hsl(119, 52%, 60%);

}

.actividad1 span{
    position: absolute;
    left: -20%;
    font-size: 120%;
    font-weight: bold;
}

.actividad2 span{
    position: absolute;
    left: -20%;
    font-size: 120%;
    font-weight: bold;
}

.actividad3 span{
    position: absolute;
    left: -20%;
    font-size: 120%;
    font-weight: bold;

}

.barra-atrasado span {
    left: 100%;
    color: hsl(34, 74%, 57%)
}

.barra-adelantado span {
    color: hsl(207, 82%, 56%);
}

.barra-al-dia span{
    color: hsl(119, 52%, 60%);
}


.actividad1 > div.barra-adelantado{
    width: 14%;

}
.actividad1 > div.barra-atrasado{
    width: 0%;

}
.actividad1 > div.barra-al-dia{
    width: 0%;

}


.actividad2 > div.barra-adelantado{
    width: 0%;

}

.actividad2 > div.barra-atrasado{
    width: 50%;

}

.actividad2 > div.barra-al-dia{
    width: 0%;

}


.actividad3 > div.barra-adelantado{
    width: 0%;

}

.actividad3 > div.barra-atrasado{
    width: 0%;

}

.actividad3 > div.barra-al-dia{
    width: 30%;

}


/*GASTOS*/

div.etiqueta-historico {
    background-color: hsl(119, 52%, 60%);
}

div.etiqueta-planeado {
    background-color: hsl(176, 55%, 55%);
}

div.etiqueta-presupuesto {
    background-color: hsl(207, 82%, 56%);
}

.grafico-gastos {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 10px;
}


.valores-gastos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 20px;
    width: 100%;
    font-weight: 800;
}

.valor-grafico-gastos {
    display: block;
}

.valores-gastos > hr {
    width: 80%;
    position: relative;
    bottom: 17px;
}


.columna-grafico-barras { 
    display: flex;
    flex-wrap: wrap;
    align-content: end;
    width: 15%;
    height: 86%;
    position: absolute;
}

.columna-historico {
    left: 22%;
}

.columna-historico > div {
    background-color: hsl(119, 52%, 60%);
    height: 55%;
    width: 100%;
}

.columna-planeado {
    left: 44%;
}

.columna-planeado > div {
    background-color: hsl(176, 55%, 55%);
    height: 70%;
    width: 100%;
}


.columna-presupuesto {
    left: 66%;
}

.columna-presupuesto>div {
    background-color: hsl(207, 82%, 56%);
    height: 75%;
    width: 100%;
}




/*TRABAJO*/

div.etiqueta-completado {

    background-color: hsl(119, 52%, 60%);
}

div.etiqueta-restante {

    background-color: hsl(176, 55%, 55%);
}

div.etiqueta-acumulado {

    background-color: hsl(4, 65%, 56%);
}

.grafico-trabajo {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    row-gap: 10px;

}
.usuarios {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 18px;
}


.valores-trabajo {
    display: flex;
    width: 80%;
}

.barras-verticales {
    display: flex;
    gap: 20%;    
    flex-grow: 1;
}

.barras-verticales > div {
    position: relative;
    border-right: 1px white solid;
    border-left: 1px white solid;
    height: 100%;
}

.valores-trabajo > span {
    width: 100%;
}

.barras-grafico-trabajo {
    position: absolute;
    display: flex;
    width: 65.5%;
    left: 20%;
    height: 86%;
    flex-wrap: wrap;
    align-content: space-between;
}

.barra-progreso-trabajo {
    display: flex;
    width: 100%;
    height: 10%;
} 

.barra-progreso-trabajo > div {
    height: 100%;
}

.trabajo-completado {
    background-color: hsl(119, 52%, 60%);
}

.trabajo-restante {
    background-color: hsl(176, 55%, 55%);
}

.trabajo-atrasado {
    background-color: hsl(4, 65%, 56%);
}

.progreso-mike > div.trabajo-completado {
    width: 50%;
}

.progreso-jennifer > div.trabajo-completado {
    width: 25%;
}

.progreso-jennifer > div.trabajo-restante {
    width: 25%;
}

.progreso-brandon > div.trabajo-restante {
    width: 12.5%;
}

.progreso-sam > div.trabajo-restante {
    width: 27.5%;
}

.progreso-george > div.trabajo-restante {
    width: 12.5%;
}


/* MEDIA QUERIES */

/* NOTEBOOK */
@media screen and (max-width:1024px) {
    body {
        font-size: 0.9em;
    }
    
    .contenedor-individual {
        min-width: 40%;
    }

}


/* TABLET */
@media screen and (max-width:767px) {

    /* ESTILOS GENERALES */
    main {
        padding: 0px 5%;
    }

    /* MENU PRINCIPAL */

    header {
        border-bottom: 2px solid hsl(176, 55%, 55%);
        display: flex;
        flex-flow: row nowrap;
        flex: initial;
        width: 100%;
        padding: 0px 10px;
    }

    #menu {
        position: initial;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        flex: 1;
        max-width: none;
    }

    .nav-hr {
        display: none;
        visibility: hidden;
    }

    #logo {
        margin-left: auto;
    }

    #menu button {
        display: none;
        visibility: hidden;
    }

    #boton-menu {
        display: block;
        visibility: visible;
    }

    .opciones-perfil {
        padding: 0;
        flex-wrap: wrap;
        align-content: flex-end;
    }

    .material-icons {
        font-size: 1.5rem;
    }
 

    
    /* BARRA DE NAVEGACION SECUNDARIA */
    
    #navegacion-secundaria {
        justify-content: flex-start;
        padding: 5px 0px;
    }
    
    #navegacion-secundaria > button:nth-child(-n+4) {
        display: none;
        visibility: hidden;
    }

    #boton-nav-personalizar {
        display: initial;
        visibility: visible;
    }

    #boton-nav-personalizar > span {
        border-radius: 12rem;
        padding: 2px;
        margin-right: 5px;

        background-color:hsl(0, 0%, 100%) ;
        color: hsl(0, 0%, 0%);
    }

    #boton-nav-personalizar > span:hover {
        color: hsl(0, 0%, 61%);
    }

    #navegacion-secundaria > button {
        font-size: 1em;
        color: hsl(0, 0%, 100%);
    }

    /* CONTENEDORES INDIVIDUALES */
    
    .contenedor-individual {
        min-width: 80%;
    }

    .encabezado-contenedor-individual > button.expandir {
        display: none;
        visibility: hidden;
    }

    
}

/* MOBILE */
@media screen and (max-width:480px) {

    /* ESTILOS GENERALES */
    main {
        row-gap: 5px;
    }

    /* BARRA NAVEGACION - MENU */
    #logo>img {
        width: 35px;
    }

}